<!DOCTYPE html>
<html>
<head>
  <title>TAK Authentik Admin</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <aside>
    <h2>TAK Admin</h2>
    <a href="/users/create">Create User</a>
    <a href="/users/manage">Manage Users</a>
    <a href="/groups">Groups</a>
    <a href="/agencies">Agencies</a>
  </aside>
  <main>
    <%- body %>
  </main>
</body>
</html>
